<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464864732965-4cam1uvti0m7qml14t7qkc95ak1bd6v6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464864732965-4cam1uvti0m7qml14t7qkc95ak1bd6v6</string>
	<key>API_KEY</key>
	<string>AIzaSyCTmDpygT_j075F0T9X0wG1tzd4OG9C0V0</string>
	<key>GCM_SENDER_ID</key>
	<string>464864732965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstMobexFlutterProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutternonstop</string>
	<key>STORAGE_BUCKET</key>
	<string>flutternonstop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464864732965:ios:60cea4d09442395758dccc</string>
</dict>
</plist>